extends layouts/main.pug 

block content 
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")  
            label(for="file") Video File 
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", name="videoTitle", placeholder="Title", required=true)
            textarea(placeholder="Description", name="videoDescription",  cols="20", rows="3")
            input(type="submit", value="Upload Video") 